/*************************
 AVENIR
 *************************/
@font-face {
    font-family: "avenir-black";
    src: url(../fonts/AvenirBlack.ttf);
}

@font-face {
    font-family: "avenir-book";
    src: url(../fonts/AvenirBook.ttf);
}

@font-face {
    font-family: "avenir-regular";
    src: url(../fonts/AvenirRegular.ttf);
}

@font-face {
    font-family: "avenir-heavy";
    src: url(../fonts/AvenirHeavy.ttf);
}

@font-face {
    font-family: "avenir-light";
    src: url(../fonts/AvenirLight.ttf);
}

[contenteditable].form-control:focus,
[type=email].form-control:focus,
[type=password].form-control:focus,
[type=tel].form-control:focus,
[type=text].form-control:focus,
input.form-control:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=text]:focus,
textarea.form-control:focus,
textarea:focus,
.form-select:focus {
    box-shadow: inset 0 -1px 0 #ddd !important;
    border-color: #808080;
}

*,body,h1,h2,h3,h4,h5,h6,p,a {
    font-family: 'avenir', sans-serif !important;
}


.uk-checkbox:checked,
.uk-checkbox:indeterminate,
.uk-radio:checked {
    background-color: #EA5B5C !important;
}

#navbar #logo {
    transition: 0.4s;
}

.bottom-logo{
    height: 10rem;
}

.extra-space-for-animation{
    height: 116px;
    background-color: #EA5B5C;
}

.active{
    border-bottom: 1px solid #ffff !important;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EA5B5C;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 60px;
    height: 60px;
    position: relative;
}



.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {

    0%,
    100% {
        -webkit-transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bounce {

    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@media (max-width: 768px) {
    .extra-space-for-animation{
        height: 56px;
        background-color: #EA5B5C;
    }
}

/* nav-bar style */

a {
    text-decoration: none !important;
    color: #fff !important;
}

.custom-container {
    margin: 0 3% !important;
}

.bg-red {
    background-color: #EA5B5C !important;
}

.text-white {
    color: #fff !important;
}

#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .3s;
    z-index: 100;
}

.nav-link {
    font-size: 1rem !important;
    text-transform: uppercase !important;
    color: #fff !important;
    font-weight: 800 !important;
    margin-right: 2rem;
    transition: all 0.4s;
    border-bottom: 1px solid transparent;
}

.nav-link:active {
    transform: scale(.95);
}

.nav-link:hover{
    border-bottom: 1px solid #fff;
    transition: all 0.4s;
    text-shadow: 2rem 3rem 4rem rgb(0 0 0 / 68%) !important;
}

.btn:focus,
.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0.1rem solid #000;
}

.logo {
    height: 100px;
    margin-top: -12px;
    padding: 10px 28px;
    background-color: #ffffff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* nav-bar style end */

/* section-1 */
.section-1 {
    background-image: url('../images/bg-mobile.png');
    background-color: #EA5B5C;
    min-height: 80vh;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -5rem;
    position: relative;
}

.navbar-light .navbar-toggler {
    color: #fff !important;
    border-color: transparent !important;
    font-size: 2rem;
    transition: transform 0.4s;
}

.navbar-light .navbar-toggler:active {
    transform: scale(.98) !important;
}

.setction-1-title {
    font-weight: 900;
    font-size: 3rem;
}

.section-details {
    position: absolute;
    top: 10rem;
}

.sectin-1-p {
    font-size: 1.3rem;
}

.download-recommendation p {
    color: #ffff;
    font-size: 1rem;
    font-weight: 900;
    font-family: 'avenir-heavy', sans-serif;
    text-transform: uppercase;
    margin-top: 3rem;
}

.download-btn a img {
    margin-right: 0.5rem;
    transition: transform 0.4s,box-shadow 0.4s;
    cursor: pointer;
    height: 50px;
}

.download-btn a img:hover {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 58%) !important;
}


.download-btn a img:active {
    transform: scale(.95);
}

@media (max-width:576px) {
    .section-1 {
        min-height: 80vh !important;
    }
}

@media (max-width: 768px) {
    .section-1 {
        min-height: 40vh;
    }

    .nav-link:hover{
        border-bottom: none;
        transition: all 0.4s;
        text-shadow: 2rem 3rem 4rem rgb(0 0 0 / 68%) !important;
    }
    .active{
        border-bottom: none;
        padding: .2rem .5rem .2rem .5rem !important;
        color: #EA5B5C !important;
        background-color: #fff;
        width: 8.5rem;
        border-radius: 6px;
    }
    .setction-1-title {
        font-size: 1.3rem !important;
    }

    .logo {
        height: 80px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .nav-link {
        font-size: 1rem !important;
    }

    .section-details {
        top: 5rem;
    }

    .section-details h3 {
        font-size: 1rem !important;
        font-weight: normal;
    }

    .sectin-1-p {
        font-size: 1.2rem;
    }

    .download-recommendation p {
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }

    .download-btn {
        display: flex;
        flex-direction: row;
    }

    .download-btn a img {
        height: 2.5rem;
    }

    .section-1 {
        background-size: contain !important;
        background-position: right bottom !important;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .setction-1-title {
        font-size: 2.6rem !important;
    }

    .section-1 {
        margin-top: 0rem !important;
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .setction-1-title {
        font-size: 2.6rem !important;
    }

    .section-1 {
        margin-top: -2rem !important;
    }

    .section-details {
        top: 7rem;
    }
}

/* end section-1 */

/* section-2 */
.section-2 {
    background-image: url('../images/bg-logo.png');
    min-height: 400px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-top: 1rem;

}

.section-2 h1 {
    font-weight: 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.section-2 p {
    text-transform: uppercase;
    line-height: 2rem;
    font-size: 1.1rem;
    color: #5a5656;
    align-self: center;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .section-2 {
        background-position: center center;
        background-size: cover;
    }

    .section-2 p {
        line-height: 1.8rem;
        font-size: 1rem;
        padding-bottom: 3rem;
    }
}

/* end section-2 */

/* section-3 */
.section-3 {
    background-color: #E8E7E7;
    padding: 2rem 0;
    text-align: center;
}

.section-3-header {
    font-weight: 900;
    padding: 2rem 0;
    font-size: 2rem;
    text-transform: uppercase;
}

.section-3 .uk-card {
    background-color: transparent;
    box-shadow: none !important;
}

.card-3 p {
    padding-top: 2.5rem !important;
}

.body-text p{
    padding-top: 3.5rem;
}

.body-text p, .body-text {
    font-size: .9rem !important;
    color: #3C3C3B;
    text-transform: uppercase;
    font-family: 'avenir', sans-serif !important;
    font-weight: 900;
}

.custom-button {
    padding: 0.8rem 2.5rem !important;
    background-color: #EA5B5C !important;
    border-radius: 30px !important;
    color: #fff !important;
    font-weight: 900 !important;
    font-size: 1rem !important;
    text-transform: uppercase;
    border: none !important;
    margin-bottom: 8rem !important;
    transition: transform 0.4s, box-shadow .4s;
}

.custom-button:hover {
    color: #fff !important;
    border: none !important;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 58%) !important;
}

.custom-button:active {
    transform: scale(.98);
    border: none !important;
    color: #fff !important;
    border: none !important;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .section-3-header {
        font-size: 1.8rem;
    }

    .section-3 p {
        font-size: 0.8rem;
    }

    .custom-button a {
        font-size: 1rem;
    }
}

/* end section-3 */

/* section-4 */
.section-4 {
    background-image: url('../images/bg-map-large.png');
    height: 80vh;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -5rem;
    position: relative;
}

@media (max-width: 576px) {
    .section-4 {
        height: 30vh;
    }
}

/* end section-4 */

/* section-5 */
.footer {
    background-color: #3F3D56;
}

.footer .uk-card {
    background-color: transparent;
    color: #fff;
}

.link-item li {
    font-size: .9rem;
    transition: transform .5s;
}

.link-item li:active {
    transform: scale(.95);
}

.link-item li a {
    font-size: .8rem;
    font-weight: 900;
    text-transform: uppercase;
}

.transition {
    transition: all .5s
}

.footer-link a {
    font-size: .9rem;
    transition: transform .5s;
}

.footer-link a:active {
    transform: scale(.95);
}

.padding-left-right-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.footer h3 {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    
}

.align-center {
    align-items: center;
}

.footer-address{
    position: absolute;
    top: 50%;
    transform: translate(10px, -50%);
    text-align: center;
}

.footer address {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: normal;
}

.footer address,
.footer h3 {
    color: #fff;
}

.footer .align {
    text-align: left;
}

.copyright {
    font-size: .7rem !important;
    padding: .5rem !important
}

.footer-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translate(10px, -50%);
}

.footer-link a {
    font-size: .8rem;
    font-weight: 900;
    text-transform: uppercase;
    
}

@media (max-width: 576px) {
    .footer {
        padding: 3rem;
    }

    .footer .align {
        text-align: center !important;
    }

    .copyright {
        all: unset !important;
        text-align: center !important;
    }
}

/* end section-5 */

/* registration page */
/* registration-section */
.registration-section .title {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
}

.registration-section .sub-title {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #EA5B5C;
    line-height: 1.7rem;
    padding-bottom: 1.5rem;
}

.custom-box-shadow {
    box-shadow: 0 5px 11px 7px #E8E8E8 !important;
}

.input-area {
    position: relative;
    margin: 1.2rem 0;
}

.input-area .input  {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    border-radius: 0;
    border-color: #8f8889 !important;
    padding-left: 0;
    font-size: 0.9rem !important;
    margin-bottom: 2rem;
}

.input-area .form-label {
    position: absolute !important;
    bottom: 0 !important;
    transition: bottom 0.3s !important;
    font-size: 0.9rem;
    color: #8D8D8B;
}

.custom-input-textarea-registration {
    background-color: #F7F5F5 !important;
    border: 1px solid #e4e4e4 !important;
    font-size: .9rem !important;
    padding-left: .5rem !important;
    color: #686868 !important;
}

.custom-input-textarea-registration:focus {
    outline: none;
    border: 1px solid #e4e4e4 !important;
    background-color: #F7F5F5 !important;
}

.forgot-password {
    position: relative;
    margin-bottom: 4rem;
}

.forgot-password a {
    font-size: 0.9rem;
    color: #EA5B5C !important;
    position: absolute;
    right: 0;
    padding-top: 0.4rem;
}

.input {
    border-radius: 0;
}

.input-area .input:focus+.form-label,
.input-area .input:valid+.form-label {
    bottom: 1.5rem !important;
    color: #000 !important;
}

.input .option {
    padding: 0.5rem 1rem !important;
    margin: 0.5rem 1rem !important;
}

.form-wrapper {
    padding: .5rem 1rem 0;
}

.form-title {
    font-weight: 900;
    font-size: 1.4rem !important;
    text-transform: uppercase;
}

.form-sub-title {
    font-size: 0.8rem !important;
}

.form-label.checkbox {
    font-size: 0.8rem;
    text-decoration: underline;
}

.custom-button-registration {
    padding: 0.6rem 3rem !important;
    background-color: #EA5B5C !important;
    border-radius: 30px !important;
    color: #fff !important;
    font-weight: 900 !important;
    font-size: 1rem !important;
    text-transform: uppercase;
    border: none !important;
    margin-top: 1rem;
    transition: transform 0.4s, box-shadow .4s;
}
.custom-button-registration:hover{
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 58%) !important;
}

.custom-button-registration:active {
    transform: scale(.98);
}

.margin-x-40px {
    margin-left: 40px;
    margin-right: 40px;
}

.form-select{
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 1px solid #808080;
    border-radius: 0 !important;
    /* color: #8D8D8B; */
    padding: 0 10px;
}

.form-label-select{
    position: absolute !important;
    bottom: 1.5rem !important;
    transition: bottom 0.3s !important;
    font-size: 0.9rem;
    color: #8D8D8B;
}


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .margin-x-40px {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .registration-section .title {
        font-size: 2rem;
    }

    .registration-section .sub-title {
        font-size: 1.2rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1440px) {
    .margin-x-40px {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

/* registration-section end */
/* registration page end */

/* contact_us page */
/* contact_us section-1 */
.contact_us_section_1 {
    position: relative;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_us_section_1::before {
    content: "";
    background-image: url('../images/bg-map-large.png');
    background-attachment: fixed;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
}

.contact_us_section_1 h1 {
    font-weight: 900;
    font-size: 2.5rem;
    color: #110d30 !important;
    text-transform: uppercase;
}

.contact_us_section_1 p {
    font-size: 1.3rem;
    text-transform: uppercase;
}

/* contact_us section-1 end */

/* contact_us_section-2 */
.contact_us_section-2 .custom-input,
.contact_us_section-2 .custom-input:focus {
    background-color: #F7F5F5;
    border: 1px solid #e4e4e4 !important;
    height: 40px !important;
    font-size: 1rem;
    padding-left: 1.5rem !important;
    color: #686868 !important;
}

.contact_us_section-2 .custom-input::placeholder,
textarea.uk-input-textarea {
    color: #686868 !important;
}

textarea.custom-input-textarea {
    background-color: #F7F5F5;
    border: 1px solid #e4e4e4 !important;
    font-size: 1rem;
    padding-left: 1.5rem !important;
    color: #686868 !important;
}

textarea.custom-input-textarea:focus {
    outline: none;
    border: 1px solid #e4e4e4 !important;
    background-color: #F7F5F5;
}

.submit-button {
    padding: 0.6rem 2rem !important;
    background-color: #EA5B5C !important;
    border-radius: 30px !important;
    color: #fff !important;
    font-weight: 900 !important;
    font-size: 1rem !important;
    text-transform: uppercase;
    border: none !important;
    margin-top: 1rem;
    transition: transform 0.4s, box-shadow 0.4s;
}

.submit-button:hover{
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 58%) !important;
}

.submit-button:active {
    transform: scale(.96);
}

.letter-space-1px {
    letter-spacing: 1px !important;
}

.form-subtitle {
    padding: 0 7rem 1rem 7rem;
    text-transform: uppercase;
    font-size: .8rem;
}

.contact_us_left a,
.contact_us_left address {
    padding-left: 9rem;
    padding-right: 9rem;
    line-height: 1rem;
    color: #999999 !important;
    text-transform: uppercase;
    font-size: 0.9rem;
}


@media (max-width: 768px) {

    .contact_us_left a,
    .contact_us_left address {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .contact_us_section_1 h1 {
        font-size: 2.5rem;
    }

    .contact_us_section_1 p {
        font-size: .8rem;
    }

    .contact_us_left .form-subtitle {
        padding: 0;
    }

    .contact_us_right .form-title {
        font-size: 1rem !important;
    }

    .contact_us_right .form-subtitle {
        padding: 0 1rem;
    }

    .contact_us_right form {
        padding: 0 !important;
    }
}

/* contact_us_section-2 end */
/* contact_us page end */

/* privacy policy page */
.privacy-policy h1{
    font-weight: 700;
    font-size: 2rem;
    color: #110d30 !important;
    text-transform: uppercase;
}

.policy{
    margin: 3rem 0;
}

.policy .title{
    margin-bottom: 1rem;
}

.title{
    font-weight: 400;
    font-size: 1.5rem;
    color: #110d30 !important;
}

.paragraph{
    line-height: 1.7rem;
    font-size: 1.1rem;
    color: #5a5656;
    align-self: center;
}

/* privacy policy page end */

.about_us_section-1 .intro, .about_us_section-2 .intro{
    font-size: 17px;
    font-family: "avenir-light" !important;
    text-transform: uppercase;
    font-weight: 100;
}

.about_us_section-2{
    background-color: #E8E7E7;
}

.about_us_section-2 h1{
    color: #EA5B5C;
    font-weight: 800;
    text-transform: uppercase;
}

.about_us_section-2 .list-group .list-group-item{
    border: none !important;
    border: 0px !important;
    background-color: transparent !important;
    text-transform: uppercase !important;
    padding: 5px 0;
}

.about_us_section-3 h2{
    text-transform: uppercase;
}

/* about_us end */